// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-top { 
    padding: 10px;
    border: 10px;
}

.location-text { 
    line-height: 18px;
}
